# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Database
events.db

# Logs and debug files
scraper.log
page.html

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.log
*.bak
*.swp
.DS_Storeevents.db
